<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <div class="row">
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="interval" style="color: white;">Interval</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="ofFrom" style="color: white;">Of-From</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
                <div class="card text-white bg-secondary" style="max-width: 10rem;">
                    <div class="card-body">
                        <a routerLink="fromEvent" style="color: white;">fromEvent</a>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>