<div class="my-3">
    <h2>Of & From</h2>
    <br>
    <strong>Ex - 1 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong> of('Anup','Akash','Prakash')
            </p>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong> of(&#123;a:'Anup',b:'Akash',c:'Prakash'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>a : </strong>{{obsMessage.a}}</li>
                <li><strong>b : </strong>{{obsMessage.b}}</li>
                <li><strong>c : </strong>{{obsMessage.c}}</li>
            </ul>
        </div>
    </div>

    <hr>
    <strong>Ex - 2 (From)</strong>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong> From(['Anup','Akash','Prakash'])
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>